.forgot-password-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-form {
    width: 300px;
}

.forgot-password-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.field {
    width: 100%;
    height: 38px;
    padding: 8px;
    padding-right: 35px;
    box-sizing: border-box;
}

.reset-button {
    width: 100%;
    height: 38px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.back-button {
      width: 100%;
  height: 38px;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  cursor: pointer;
  border-radius: 8px;
}